.area {
  .content {
    max-width: 1140px;
    padding: 120px 70px 160px;
    margin: 0 auto;

    @media (max-width:767px) {
      padding: 120px 20px 160px;
    }
  }

  h2 {
    font-family: Aventa;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    max-width: 680px;
    margin: 0 auto;
    text-align: center;

    @media (max-width:767px) {
      font-size: 36px;
      line-height: 54px;
    }

    @media (max-width:480px) {
      font-size: 28px;
      line-height: 44px;
    }

  }

  .flex-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .each {
    flex: 0 39%;
    padding: 0px 20px;
    margin-top: 90px;

    @media (max-width:991px) {
      flex: 0 100%;
    }
  }

  h5 {
    font-family: Aventa;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    margin: 15px 0px 10px;

    @media (max-width:1024px) {
      max-width: 260px;
    }

    @media (max-width:991px) {
      max-width: 100%;
    }
  }

  p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin: 0;

    opacity: 0.8;
  }

  span {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 5px;
    margin-left: 30px;
    letter-spacing: 0.15em;
    display: inline-block;

    ;

  }
}